# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/
.coverage
.venv/
venv/

# IDE
.vscode/
.idea/

# Test artifacts

reports/
artifacts/*.html

# Selenium/WebDriver downloads (if any)
*.log
